
# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej
interdiff*.txt

# emacs artifacts.
*~
\#*\#

# VI swap file
*.swp

# Hidden files.
.DS*
.project

# Windows links.
*.lnk

# Temporary files.
tmp*

# Excludes for installed Drupal site
vendor/
sites/*/files/
sites/*/settings.php
sites/development.services.yml
sites/default/settings.local.php
sites/default/services.yml

# Ignore sass-cache files.
*.sass-cache*

# Exclude IDE's project directory
nbproject
.idea
/README.txt